@import "tailwindcss";

@theme {
  --color-card: var(--card);
  --color-secondary-text: var(--secondary-text);
  --color-border: var(--border);
  --color-background-color: var(--background-color);
  --color-primary-text: var(--primary-text);
}

:root {
  --background-color: #f5f3f0;
  --card: #ffffff;
  --primary-text: #1a1a19;
  --secondary-text: #525252;
  --border: #d4d0cc;
}

[data-theme="dark"] {
  --background-color: #111110;
  --card: #2e2e2d;
  --primary-text: #e8e6e3;
  --secondary-text: #bbb5ae;
  --border: #2a2826;
}

html {
  /* scrollbar-width: thin; */
  /* scrollbar-color: gray transparent; */
  scrollbar-width: none;
}

body {
  background: var(--background-color);
  color: var(--primary-text);
  font-family: "Geist", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (orientation: landscape) {
  .mobile-view {
    display: none;
  }
}

@layer components {
  .action-btn {
    border-radius: 999px;
    background-color: var(--card);
    color: var(--secondary-text);
    padding: 6px;
    cursor: pointer;
    border: 1px solid var(--card);
  }

  .action-btn:hover {
    color: var(--primary-text);
    border: 1px solid var(--primary-text);
  }
}